{% extends "base.html" %}
{% block content %}

<div class="mt-4">
    <h2 class="mb-4">新增服务项目</h2>

    <form action="{{ url_for('service') }}" method="post">
        <div class="form-group mb-2">
            <label for="service_name">服务名称</label>
            <input type="text" name="service_name" id="service_name" placeholder="如：机油更换" required
                class="form-control">
            <div class="invalid-feedback">
                请填写服务项目名称。
            </div>
        </div>

        <div class="form-group">
            <label for="service_cost">服务费用（元）</label>
            <input type="number" step="0.01" min="0" name="service_cost" id="service_cost" placeholder="0.00" required
                class="form-control">
            <div class="invalid-feedback">
                请填写有效服务费用。
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-4">新增服务</button>
    </form>
</div>

{% endblock %}
