{% extends "base.html" %}
{% block content %}

<div class="mt-4">
    <h2>Bills List</h2>

    <table class="table table-striped">
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Job Id</th>
            <th scope="col">Customer Id</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Completed</th>
            <th scope="col">Total Cost ($)</th>
            <th scope="col">Action</th>
        </tr>
        {% for bill in bills %}
        <tr>
            {% for field in bill %}
                {% if loop.index == 5 %}
                    <td>{% if field %}Yes{% else %}No{% endif %}</td>
                {% endif %}
                {% if loop.index == 6 %}
                    <td>{% if field %}{{ field }}{% else %}-{% endif %}</td>
                {% endif %}
                {% if loop.index != 5 and loop.index != 6 %}
                <td>{{field}}</td>
                {% endif %}
            {% endfor %}
            <td><a href="{{ url_for('mark_as_paid', bill_id=bill[1]) }}">Mark as paid</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}