{% extends "base.html" %}
{% block content %}

<div class="mt-4">
    <h2>客户列表</h2>

    <div class="mt-4 mb-4">
        <form action="{{ url_for('admin_customers') }}" method="get" class="d-flex">
            <input type="text" name="search" placeholder="按姓名搜索" class="form-control me-2">
            <input type="submit" value="搜索" class="btn btn-outline-primary">
        </form>
    </div>

    <!-- 客户列表表格 -->
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>名字</th>
                <th>姓氏</th>
                <th>电子邮箱</th>
                <th>电话号码</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer[0] }}</td>
            <td>{{ customer[1] }}</td>
            <td>{{ customer[2] }}</td>
            <td>{{ customer[3] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
