{% extends "base.html" %}
{% block content %}

<div class="mt-4">
    <h2>Current Job List</h2>

    <table class="table table-striped">
        <tr>
            <th scope="col">Customer Name</th>
            <th scope="col">Date</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Action</th>
        </tr>
        {% for job in job_list %}
        <tr>
            <td>{{ job[1] }}</td>
            <td>{{ job[2] }}</td>
            <td>{% if job[3] %}{{ job[3] }}{% else %}-{% endif %}</td>
            <td><a href="{{ url_for('job_details', job_id=job[0]) }}">View Details</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}