{% extends "base.html" %}
{% block content %}

<div class="mt-4">
    <h2>Job Details</h2>

    <table class="table">
        <tr>
            <th scope="col">Job ID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Date</th>
            <th scope="col">Completed</th>
        </tr>
        <tr>
            <td>{{ job[0] }}</td>
            <td>{{ job[1] }}</td>
            <td>{{ job[2] }}</td>
            <td>{{ "Yes" if job[3] else "No" }}</td>
        </tr>
    </table>

    {% if not job[3] %}
    <h3>Add Services and Parts</h3>

    <form class="mb-4" method="post" action="{{ url_for('job_details', job_id=job[0]) }}">
        <div class="form-group">
            <label for="selected_service">Select Service:</label>
            <select class="form-control" name="selected_service" id="selected_service">
                <option value="">---Select---</option>
                {% for service in services %}
                <option value="{{ service[0] }}">{{ service[1] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="selected_part">Select Part:</label>
            <select class="form-control" name="selected_part" id="selected_part">
                <option value="">---Select---</option>
                {% for part in parts %}
                <option value="{{ part[0] }}">{{ part[1] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="qty">Quantity:</label>
            <input type="text" class="form-control" name="qty" id="qty" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    {% endif %}

    {% if services_used or parts_used %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h3>Services Used</h3>
                <ul class="list-group">
                    {% for service in services_used %}
                    <li class="list-group-item">{{ service[0] }} - Quantity: {{ service[1] }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Parts Used</h3>
                <ul class="list-group">
                    {% for part in parts_used %}
                    <li class="list-group-item">{{ part[0] }} - Quantity: {{ part[1] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}


    {% if not job[3] %}
    <form class="mb-4" method="post" action="{{ url_for('job_details', job_id=job[0]) }}">
        <div class="form-group form-check mt-4 mb-4">
            <input class="form-check-input" type="checkbox" id="complete_job" name="complete_job" value="1">
            <label class="form-check-label" for="complete_job">Mark Job as Completed</label>
        </div>
        <button type="submit" class="btn btn-primary">Save and Complete</button>
    </form>
    {% endif %}
</div>


{% endblock %}