{% extends "base.html" %}
{% block content %}

<div class="mt-4">
    <h2 class="mt-5">预约工单</h2>

    <form action="" method="post">
        <div class="form-group mb-3">
            <label for="customer" class="form-label">选择客户：</label>
            <select class="form-select" name="customer" id="customer" required>
                <option value="">---请选择客户---</option>
                {% for customer in customers %}
                <option value="{{ customer[0] }}">
                    {{ customer[1] or '' }} {{ customer[2] or '' }}
                </option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group mb-3">
            <label for="date" class="form-label">预约日期：</label>
            <input type="date" class="form-control" id="date" min="{{ today }}" name="date" required>
            <small class="form-text text-muted">只能选择今天或未来日期</small>
        </div>
        
        <button type="submit" class="btn btn-primary btn-lg mt-4">
            📅 预约工单
        </button>
    </form>
</div>

{% endblock %}
